{% extends 'base.html' %}

{% block body %}

  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia placeat sunt excepturi fugiat sed quae porro accusamus minima doloribus quasi ipsam quos illum unde eos culpa pariatur aut exercitationem fuga, animi sapiente praesentium? Quidem ipsa adipisci possimus fugit, sit consequatur necessitatibus labore molestias molestiae neque dolores rerum, at, sed hic exercitationem libero ex illum eligendi deserunt maiores perferendis deleniti consequuntur? Mollitia labore consectetur architecto accusamus quae inventore asperiores eos quis porro natus ullam sed consequuntur vel vitae modi illum qui doloremque, magnam corporis repudiandae reiciendis reprehenderit! Quidem beatae, quos cupiditate officiis asperiores qui, incidunt iste enim harum vero eaque numquam!</p>

{% endblock %}